*       text=auto
*.html  text
*.css   text
*.scss  text
*.sass  text
*.js    text
*.json  text
*.xml   text
*.md    text
*.rb    text
*.py    text
*.txt   text
*.cfg   text
*.yml   text
*.properties    text
.arcconfig      text
.gitignore      text
.gitattributes  text
*.png   binary
*.gif   binary
*.jpg   binary
*.ico   binary