# general
*~
*.log
tmp
dump
.DS_Store
.svn/
.sencha/
.idea/
.project

# xiaomei config
.xm_config

# extjs
.arcconfig
index.html
app.json
bootstrap.js
bootstrap.css
bootstrap.json
ext/
touch/
sass/
build/
build.xml
ext*/
Ext4*/
/.gitmessage
